.dm_font {
    font-family: "DM Sans", sans-serif;
}

.header_top {
    background-image: url(../img/bg-top-bar-promotion-home-6_2048x.png_v=1668151491);
}

.header_top i {
    color: #FFFF00;
}

.header_top:hover div {
    /*transform: translateX();*/
    transition: all linear 1s;
}